In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2022-07-14 03:34:06,-34.5322,20.0403,58.26,77,85,13.71
1,1,Butaritari,KI,2022-07-14 03:34:06,3.0707,172.7902,81.99,79,16,18.10
2,2,Kongwa,TZ,2022-07-14 03:34:07,-6.2000,36.4167,56.05,84,25,3.09
3,3,Ancud,CL,2022-07-14 03:34:07,-41.8697,-73.8203,41.23,90,100,9.89
4,4,Codrington,AU,2022-07-14 03:34:08,-38.2667,141.9667,54.91,66,99,4.68

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [29]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2022-07-14 03:34:06,3.0707,172.7902,81.99,79,16,18.10
15,15,Lock Haven,US,2022-07-14 03:34:12,41.1370,-77.4469,75.69,88,55,1.79
21,21,Hilo,US,2022-07-14 03:31:38,19.7297,-155.0900,81.28,97,100,8.05
26,26,Georgetown,MY,2022-07-14 03:34:16,5.4112,100.3354,86.90,76,20,5.01
32,32,Kahului,US,2022-07-14 03:34:19,20.8947,-156.4700,84.22,74,40,24.16
33,33,Rock Springs,US,2022-07-14 03:34:19,41.5875,-109.2029,75.04,41,40,14.97
34,34,Kapaa,US,2022-07-14 03:34:20,22.0752,-159.3190,84.18,78,75,17.27
35,35,Sibolga,ID,2022-07-14 03:34:20,1.7427,98.7792,86.58,63,96,4.47
37,37,Mayor Pablo Lagerenza,PY,2022-07-14 03:34:21,-19.9309,-60.7718,76.15,52,9,9.08
39,39,Sterling,US,2022-07-14 03:32:04,39.0062,-77.4286,78.12,87,100,13.00

In [35]:
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
1              Butaritari      KI     81.99   3.0707  172.7902
15             Lock Haven      US     75.69  41.1370  -77.4469
21                   Hilo      US     81.28  19.7297 -155.0900
26             Georgetown      MY     86.90   5.4112  100.3354
32                Kahului      US     84.22  20.8947 -156.4700
33           Rock Springs      US     75.04  41.5875 -109.2029
34                  Kapaa      US     84.18  22.0752 -159.3190
35                Sibolga      ID     86.58   1.7427   98.7792
37  Mayor Pablo Lagerenza      PY     76.15 -19.9309  -60.7718
39               Sterling      US     78.12  39.0062  -77.4286

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Butaritari,KI,81.99,3.0707,172.7902,Isles Sunset Lodge
15,Lock Haven,US,75.69,41.1370,-77.4469,Fairfield Inn & Suites by Marriott Lock Haven
21,Hilo,US,81.28,19.7297,-155.0900,Hilo Hawaiian Hotel
26,Georgetown,MY,86.90,5.4112,100.3354,Cititel Penang
32,Kahului,US,84.22,20.8947,-156.4700,Maui Seaside Hotel
33,Rock Springs,US,75.04,41.5875,-109.2029,Homewood Suites by Hilton Rock Springs
34,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
35,Sibolga,ID,86.58,1.7427,98.7792,Hotel Syariah CN Darussalam
37,Mayor Pablo Lagerenza,PY,76.15,-19.9309,-60.7718,
39,Sterling,US,78.12,39.0062,-77.4286,Hampton Inn & Suites Washington-Dulles Interna...

In [41]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [45]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))