# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Mataura,NZ,-46.1927,168.8643,56.48,59,2,2.64,clear sky
1,1,Jaisalmer,IN,26.9147,70.9181,81.09,16,0,8.28,clear sky
2,2,Ushuaia,AR,-54.8000,-68.3000,49.66,66,40,5.75,scattered clouds
3,3,Rikitea,PF,-23.1203,-134.9692,72.25,74,0,5.84,clear sky
4,4,Awka,NG,6.2101,7.0741,71.47,94,100,2.10,overcast clouds
5,5,Piuma,BR,-20.8378,-40.7219,73.67,86,7,12.39,clear sky
6,6,Lebu,CL,-37.6167,-73.6500,54.55,75,3,21.54,clear sky
7,7,Kapit,MY,2.0167,112.9333,71.78,100,100,1.05,overcast clouds
8,8,Nicoya,CR,10.1483,-85.4520,79.02,86,91,3.20,overcast clouds
9,9,Uden,NL,51.6568,5.6126,55.53,96,100,3.44,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 95

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Mataura,NZ,-46.1927,168.8643,56.48,59,2,2.64,clear sky
1,1,Jaisalmer,IN,26.9147,70.9181,81.09,16,0,8.28,clear sky
2,2,Ushuaia,AR,-54.8000,-68.3000,49.66,66,40,5.75,scattered clouds
3,3,Rikitea,PF,-23.1203,-134.9692,72.25,74,0,5.84,clear sky
4,4,Awka,NG,6.2101,7.0741,71.47,94,100,2.10,overcast clouds
5,5,Piuma,BR,-20.8378,-40.7219,73.67,86,7,12.39,clear sky
6,6,Lebu,CL,-37.6167,-73.6500,54.55,75,3,21.54,clear sky
7,7,Kapit,MY,2.0167,112.9333,71.78,100,100,1.05,overcast clouds
8,8,Nicoya,CR,10.1483,-85.4520,79.02,86,91,3.20,overcast clouds
9,9,Uden,NL,51.6568,5.6126,55.53,96,100,3.44,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna(how='all')

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Mataura,NZ,-46.1927,168.8643,56.48,59,2,2.64,clear sky
1,1,Jaisalmer,IN,26.9147,70.9181,81.09,16,0,8.28,clear sky
2,2,Ushuaia,AR,-54.8000,-68.3000,49.66,66,40,5.75,scattered clouds
3,3,Rikitea,PF,-23.1203,-134.9692,72.25,74,0,5.84,clear sky
4,4,Awka,NG,6.2101,7.0741,71.47,94,100,2.10,overcast clouds
5,5,Piuma,BR,-20.8378,-40.7219,73.67,86,7,12.39,clear sky
6,6,Lebu,CL,-37.6167,-73.6500,54.55,75,3,21.54,clear sky
7,7,Kapit,MY,2.0167,112.9333,71.78,100,100,1.05,overcast clouds
8,8,Nicoya,CR,10.1483,-85.4520,79.02,86,91,3.20,overcast clouds
9,9,Uden,NL,51.6568,5.6126,55.53,96,100,3.44,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

        City Country  Max Temp Weather Description      Lat       Lng
0    Mataura      NZ     56.48           clear sky -46.1927  168.8643
1  Jaisalmer      IN     81.09           clear sky  26.9147   70.9181
2    Ushuaia      AR     49.66    scattered clouds -54.8000  -68.3000
3    Rikitea      PF     72.25           clear sky -23.1203 -134.9692
4       Awka      NG     71.47     overcast clouds   6.2101    7.0741
5      Piuma      BR     73.67           clear sky -20.8378  -40.7219
6       Lebu      CL     54.55           clear sky -37.6167  -73.6500
7      Kapit      MY     71.78     overcast clouds   2.0167  112.9333
8     Nicoya      CR     79.02     overcast clouds  10.1483  -85.4520
9       Uden      NL     55.53     overcast clouds  51.6568    5.6126

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Mataura,NZ,56.48,clear sky,-46.1927,168.8643,
1,Jaisalmer,IN,81.09,clear sky,26.9147,70.9181,
2,Ushuaia,AR,49.66,scattered clouds,-54.8000,-68.3000,
3,Rikitea,PF,72.25,clear sky,-23.1203,-134.9692,
4,Awka,NG,71.47,overcast clouds,6.2101,7.0741,
5,Piuma,BR,73.67,clear sky,-20.8378,-40.7219,
6,Lebu,CL,54.55,clear sky,-37.6167,-73.6500,
7,Kapit,MY,71.78,overcast clouds,2.0167,112.9333,
8,Nicoya,CR,79.02,overcast clouds,10.1483,-85.4520,
9,Uden,NL,55.53,overcast clouds,51.6568,5.6126,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    #print(lat,lng)
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Mataura,NZ,56.48,clear sky,-46.1927,168.8643,Ellie's Villa
1,Jaisalmer,IN,81.09,clear sky,26.9147,70.9181,Hotel Fifu
2,Ushuaia,AR,49.66,scattered clouds,-54.8000,-68.3000,Albatross Hotel
3,Rikitea,PF,72.25,clear sky,-23.1203,-134.9692,People ThankYou
4,Awka,NG,71.47,overcast clouds,6.2101,7.0741,Best Western Meloch Hotel
5,Piuma,BR,73.67,clear sky,-20.8378,-40.7219,Piúma Praia Hotel
6,Lebu,CL,54.55,clear sky,-37.6167,-73.6500,Hostal Las Lilas
7,Kapit,MY,71.78,overcast clouds,2.0167,112.9333,Hotel Meligai Kapit
8,Nicoya,CR,79.02,overcast clouds,10.1483,-85.4520,Las Cabinas Del Sueño
9,Uden,NL,55.53,overcast clouds,51.6568,5.6126,Fletcher Hotel-Restaurant Teugel Uden-Veghel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Mataura,NZ,56.48,clear sky,-46.1927,168.8643,Ellie's Villa
1,Jaisalmer,IN,81.09,clear sky,26.9147,70.9181,Hotel Fifu
2,Ushuaia,AR,49.66,scattered clouds,-54.8000,-68.3000,Albatross Hotel
3,Rikitea,PF,72.25,clear sky,-23.1203,-134.9692,People ThankYou
4,Awka,NG,71.47,overcast clouds,6.2101,7.0741,Best Western Meloch Hotel
5,Piuma,BR,73.67,clear sky,-20.8378,-40.7219,Piúma Praia Hotel
6,Lebu,CL,54.55,clear sky,-37.6167,-73.6500,Hostal Las Lilas
7,Kapit,MY,71.78,overcast clouds,2.0167,112.9333,Hotel Meligai Kapit
8,Nicoya,CR,79.02,overcast clouds,10.1483,-85.4520,Las Cabinas Del Sueño
9,Uden,NL,55.53,overcast clouds,51.6568,5.6126,Fletcher Hotel-Restaurant Teugel Uden-Veghel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

["\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>clear sky and 56.48 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Fifu</dd>\n<dt>City</dt><dd>Jaisalmer</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Albatross Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 49.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 72.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Meloch Hotel</dd>\n<dt>City</dt><dd>Awka</dd>\n<dt>Country</dt><dd>NG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Piúma Praia Hotel</dd>\n<dt>City</dt><dd>Piuma</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hostal Las Lilas</dd>\n<dt>City</dt><dd>Lebu</dd>\n<dt>Country</dt><dd>CL</dd>\n<dt>Current Weather</dt><dd>clear sky and 54.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Meligai Kapit</dd>\n<dt>City</dt><dd>Kapit</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Las Cabinas Del Sueño</dd>\n<dt>City</dt><dd>Nicoya</dd>\n<dt>Country</dt><dd>CR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Fletcher Hotel-Restaurant Teugel Uden-Veghel</dd>\n<dt>City</dt><dd>Uden</dd>\n<dt>Country</dt><dd>NL</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 55.53 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

       Lat       Lng
0 -46.1927  168.8643
1  26.9147   70.9181
2 -54.8000  -68.3000
3 -23.1203 -134.9692
4   6.2101    7.0741
5 -20.8378  -40.7219
6 -37.6167  -73.6500
7   2.0167  112.9333
8  10.1483  -85.4520
9  51.6568    5.6126

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))